<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rafaelsantanna.memeblock" version="1.0.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Meme Block</name>
    <description>Memeblock Game</description>
    <author email="rafaeel.16@gmail.com" href="https://rafaelsantanna.github.io">Rafael Santanna</author>
    <icon density="ldpi" height="36" platform="android" src="res/icon/android/icon-36-ldpi.png" width="36" />
    <icon density="mdpi" height="48" platform="android" src="res/icon/android/icon-48-mdpi.png" width="48" />
    <icon density="hdpi" height="72" platform="android" src="res/icon/android/icon-72-hdpi.png" width="72" />
    <icon density="xhdpi" height="96" platform="android" src="res/icon/android/icon-96-xhdpi.png" width="96" />
    <icon height="128" src="icon-128.png" width="128" />
    <icon gap:role="default" height="256" src="icon-256.png" width="256" />
    <preference name="permissions" value="none" />
    <preference name="android-targetSdkVersion" value="21" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <preference name="orientation" value="landscape" />
    <preference name="fullscreen" value="true" />
    <gap:config-file parent="UIStatusBarHidden" platform="ios">
        <true />
    </gap:config-file>
    <gap:config-file parent="UIViewControllerBasedStatusBarAppearance" platform="ios">
        <false />
    </gap:config-file>
    <preference name="deployment-target" value="8.0" />
    <preference name="android-minSdkVersion" value="16" />
    <access origin="*" />
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-file" spec="^4.3.3" />
    <plugin name="cordova-plugin-httpd" spec="^0.9.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-wkwebview-engine" spec="^1.1.4" />
</widget>
